<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <!-- navigation -->
    <header>
      <% include ../partials/header %>
    </header>
    
    <!-- page body -->
    <h1 id="page_title">Start <del> travelling </del> <ins>exploring</ins></h1>

    <div id="destinations_container">
        <% for (destination of destinations){ %>
        <div>
            <div class="slideshow">
                <div id="carousel_container">
                        <div class="owl-carousel owl-theme">
                          <div class="item"><img src="images/<%=destination.destination_img1%>" alt=""></div>
                          <div class="item"><img src="images/<%=destination.destination_img2%>" alt=""></div>
                          <div class="item"><img src="images/<%=destination.destination_img3%>" alt=""></div>
                        </div>
                      </div>
            </div>
            <a href="/destination?id=<%=destination.id%> " class="city_title"><%=destination.city%> </a>
    </div>
    <%};%>
          <a href="/destination" class="newsletter_link">Sign up for our newsletter</a>
    </div>

    <footer> &copy; C Clarke '18</footer> 

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="javascripts/owl_carousel/owl.carousel.min.js"></script>
  
  <script type="text/javascript">

    $(document).ready(function(){
  
      
   //carousel
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 1
        },
        1000: {
          items: 1
        }
      }
    });
    
    });//jquery end
  </script>
</html>
