<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="http://localhost:8080/stylesheets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Roboto:400,700,700i" rel="stylesheet">
</head>
<body>
    <!-- navigation -->
    <header>
        <nav id="navbar">
            <a href="/"><img src="../images/logo.png" alt="Tri logo" class="logo"></a>      
                    
            <ul class="nav_links">
                <li><a href="/destination/?id=5b119e9d27f6023534bab4ae">kyoto</a></li>
                <li><a href="/destination/?id=5b119e9d27f6023534bab4ae">beijing</a></li>
                <li><a href="/destination/?id=5b11a7de27f6023534bab4b0">seoul</a></li>
                <li><a href="/newsletter">newsletter</a></li>
            </ul>

            <p class="login">
                <a href="/create">new destination</a>
            </p>
        </nav>

    </header>
    
    <!-- destination page -->
    <div id="destinations_container">
        <img src="../images/<%= destinations.backdrop_img %>" alt="backdrop" class="destination_backdrop">
        <p class="destination_city"><%= destinations.city %></p>
        <p class="destination_text"><%= destinations.text %></p>
        <div id="destination_map"></div>
        <div class="destination_gallery">
            <img class="myImg" src="../images/<%=destination.destination_img1%>" alt="image">
            <img class="myImg" src="../images/<%=destination.destination_img2%>" alt="image">
            <img class="myImg" src="../images/<%=destination.destination_img3%>" alt="image">
        </div>
                
    </div>
    
    <input type="hidden" class="lat" value="<%=destination.lat%>">
    <input type="hidden" class="long" value="<%=destination.long%>">

    <% include ../partials/footer %>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    let lat = $('.lat').val();
    let long = $('.long').val();
    console.log(lat);
 
        //    <!-- Google Maps API
        //    Initialize and add the map -->
           function initMap(lat, long) {
        //    <!-- The location -->
            var location = {lat: +lat, lng: +long };
            // <!-- The map -->
            var map = new google.maps.Map(
            document.getElementById('destination_map'), {zoom: 5, center: location});
            // <!-- The marker -->
            var marker = new google.maps.Marker({position: location, map: map});
             };
            
               
</script>
<!-- google maps script -->
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyDHmg0-3WgNhwOwjNHo57UC-ZmTRDaL3wc"></script>
</html>

